
<include file="public/head" />

<link href="/Public/index/templets/in_dd/css/list_arc_page.css" type="text/css" rel="stylesheet" />

<include file="public/top" />

<include file="public/menu" />


<div id="main" class="main">
    <div id="div-banner" class="div-banner"></div>

    <div id="div-content" class="div-content">
        <div class="div">
            <div class="p-menu">
                <div class="box">

                    <div class="block row-menu">
                        <div class="h2"><h2>资讯中心</h2></div>
                        <div class="ul">
                            <ul>
                                <li class="col1"><a href="/xinwen/meiti/">媒体焦点</a></li>
                                <li class="col2"><a href="/xinwen/jiuchang/">酒厂展示</a></li>
                                <li class="on col3"><a href="/fangwei/">防伪声明</a></li>
                                <li class="col4 col-1"><a href="/jiankongshipin/">动态视频</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="block row-hot">
                        <div class="h2"><h2>热门推荐</h2></div>
                        <div class="ul">
                            <ul>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-content">
                <div class="box">
                    <div class="block row-path">
                        <h2>防伪声明</h2>
                        <div>
                            <i>当前位置：</i>
                            <h1><a href="/">首页</a><small>&gt;</small><a href='http://www.daqianchao.com/zxzx/'>资讯中心</a><small>&gt;</small><a href='http://www.daqianchao.com/fangwei/'>防伪声明</a></h1>
                        </div>
                    </div>
                    <div class="block row-content">
                        <div class="b-content">
                            <div class="d-content">&nbsp;<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/170911/3-1F911160343N0.png" width="967" height="527" />
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/170911/3-1F911160403K3.png" width="967" height="418" />
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190417/3-1Z41G3330L20.png" width="967" height="419" />
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/170911/thumb_967_419_1_3-1F911160425611.jpg" width="967" height="419" />
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/170911/thumb_967_418_1_3-1F911160434402.jpg" width="967" height="418" />
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/170911/thumb_967_419_1_3-1F911160451c8.jpg" width="967" height="419" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<include file="public/foot" />

<script src="/Public/index/templets/in_dd/js/list_arc_page.js" type="text/javascript"></script>

<include file="public/kefu" />


</body>
</html>

