<include file="public/head" />
<link href="/Public/index/templets/in_dd/css/list_act_img.css" type="text/css" rel="stylesheet" />

<include file="public/top" />

<include file="public/menu" />


<div id="main" class="main">

    <div id="div-goods" class="div-goods">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <h2>火爆单品 活动亏本抢 热销系列</h2>
                </div>
                <div class="block row-list row-list-border">
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <div class="ul d-img auto_size_img">
                        <ul>

                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2573.html">
                                        <img src="http://www.daqianchao.com/uploads/allimg/190328/3-1Z32Q5592UC.jpg" alt="黔朝·荷花酒" title="黔朝·荷花酒"/>
                                    </a>
                                </div>
                                <div class="c-info">
                                    <p><u>纯高粱酿造，黔朝·荷花酒</u></p>
                                    <a href="">黔朝·荷花酒</a>
                                    <!--span><small></small><i>￥10/斤</i><e>起</e></span-->
                                    <ins><a href="javascript:;" rel="nofollow"  class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">点击咨询</a></ins>
                                    <dl>
                                        <dt><b>香型：</b>酱香型</dt>
                                        <dt><b>原料：</b>优质高粱、优质小麦、水</dt>
                                        <dt><b>净含量：</b>6瓶装/件，500ML/瓶</dt>
                                        <dt><b>酒精度：</b>53%</dt>
                                        <dt><b>产地：</b>贵州省仁怀市茅台镇名酒园</dt>
                                    </dl>
                                </div>
                            </li>


                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2574.html">
                                        <img src="/uploads/allimg/190328/3-1Z32QG929424.jpg" alt="黔朝·二十" title="黔朝·二十"/>
                                    </a>
                                </div>
                                <div class="c-info">
                                    <p><u>纯高粱酿造，舌尖上的享受</u></p>
                                    <a href="">黔朝·二十</a>
                                    <!--span><small></small><i>￥99</i><e>起</e></span-->
                                    <ins><a href="javascript:;" rel="nofollow"  class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">点击咨询</a></ins>
                                    <dl>
                                        <dt><b>香型：</b>酱香型</dt>
                                        <dt><b>原料：</b>优质高粱、优质小麦、水</dt>
                                        <dt><b>净含量：</b>6瓶装/件，500ML/瓶</dt>
                                        <dt><b>酒精度：</b>53%</dt>
                                        <dt><b>产地：</b>贵州省仁怀市茅台镇名酒园</dt>
                                    </dl>
                                </div>
                            </li>

                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2575.html">
                                        <img src="/uploads/allimg/190328/3-1Z32QK60WW.jpg" alt=" 黔朝·三十" title=" 黔朝·三十" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <p><u> 黔朝·三十</u></p>
                                    <a href=""> 黔朝·三十</a>
                                    <!--span><small></small><i>￥100</i><e>起</e></span-->
                                    <ins><a href="javascript:;" rel="nofollow"  class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">点击咨询</a></ins>
                                    <dl>
                                        <dt><b>香型：</b>酱香型</dt>
                                        <dt><b>原料：</b>优质高粱、优质小麦、水</dt>
                                        <dt><b>净含量：</b>6瓶装/件，500ML/瓶</dt>
                                        <dt><b>酒精度：</b>53%</dt>
                                        <dt><b>产地：</b>贵州省仁怀市茅台镇名酒园</dt>
                                    </dl>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        //图片自适应
        $('.auto_size_img img').css({'height':'100%','width':'auto'});
    </script>
    <div id="div-goods_2" class="div-goods_2">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <h2>火爆单品 活动亏本抢 原浆系列</h2>
                </div>
                <div class="block row-list row-list-border">
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2576.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190329/3-1Z329112K50-L.jpg" width="450" height="450" alt="黔朝·十五" title="黔朝·十五" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2576.html">黔朝·十五</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2576.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2574.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190328/3-1Z32QF2240-L.jpg" width="450" height="450" alt="黔朝·二十" title="黔朝·二十" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2574.html">黔朝·二十</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2574.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2575.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190328/thumb_450_450_3-1Z32QK0440-L.jpg" width="450" height="450" alt=" 黔朝·三十" title=" 黔朝·三十" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2575.html"> 黔朝·三十</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2575.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2573.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190328/3-1Z32Q556300-L.jpg" width="450" height="450" alt="黔朝·荷花酒" title="黔朝·荷花酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2573.html">黔朝·荷花酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/2573.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1738.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171111/thumb_450_450_6-1G111110542114.jpg" width="450" height="450" alt="茅台镇年份原浆酒小瓶装" title="茅台镇年份原浆酒小瓶装" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1738.html">茅台镇年份原浆酒小瓶装</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1738.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1740.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171111/thumb_450_450_6-1G11111143B23.jpg" width="450" height="450" alt="大黔朝原浆酒大坛装" title="大黔朝原浆酒大坛装" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1740.html">大黔朝原浆酒大坛装</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1740.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1741.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180513/thumb_450_450_3-1P513100143311.jpg" width="450" height="450" alt="茅台镇高端花纹原浆酒" title="茅台镇高端花纹原浆酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1741.html">茅台镇高端花纹原浆酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1741.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1743.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171111/thumb_450_450_6-1G111112A3118.jpg" width="450" height="450" alt="茅台镇洞藏封坛原浆酒" title="茅台镇洞藏封坛原浆酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1743.html">茅台镇洞藏封坛原浆酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1743.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1742.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/171111/thumb_450_450_6-1G1111122293O.jpg" width="450" height="450" alt="茅台镇私藏原浆酒" title="茅台镇私藏原浆酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1742.html">茅台镇私藏原浆酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/cpzx/yuanjiangjiu/1742.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-goods_3" class="div-goods_3">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <h2>火爆单品 活动亏本抢 特色系列</h2>
                </div>
                <div class="block row-list row-list-border">
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <em><img src="http://www.daqianchao.com/templets/indd/image/img/jiao.png"> </em>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2520.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/181229/3-1Q2291G431133.jpg" width="450" height="450" title="黔朝·魂酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/zscp/2520.html">黔朝·魂酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/zscp/2520.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2271.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180425/thumb_450_450_3-1P42516001W11.jpg" width="450" height="450" title="黔朝酒仙酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/zscp/2271.html">黔朝酒仙酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/zscp/2271.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2272.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180426/thumb_450_450_3-1P42616192QQ.jpg" width="450" height="450" title="多彩贵州酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/zscp/2272.html">多彩贵州酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/zscp/2272.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2279.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180502/thumb_450_450_3-1P5021AQ02T.jpg" width="450" height="450" title="黔朝东方红" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/zscp/2279.html">黔朝东方红</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/zscp/2279.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2282.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180504/thumb_450_450_3-1P504154054B0.jpg" width="450" height="450" title="黔朝酒鬼酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/zscp/2282.html">黔朝酒鬼酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/zscp/2282.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2306.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180608/thumb_450_450_3-1P60P94919224.jpg" width="450" height="450" title="华山论剑酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/zscp/2306.html">华山论剑酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/zscp/2306.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2307.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180608/thumb_450_450_3-1P60Q00JK22.jpg" width="450" height="450" title="黔朝难得糊涂酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/zscp/2307.html">黔朝难得糊涂酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/zscp/2307.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2308.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180608/3-1P60Q0395K01.jpg" width="450" height="450" title="天下大同酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/zscp/2308.html">天下大同酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/zscp/2308.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>
                            <li>
                                <div class="c-box">
                                    <a class="c-img" href="http://www.daqianchao.com/zscp/2309.html">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180608/3-1P60Q04425928.jpg" width="450" height="450" title="三五挚友酒" />
                                    </a>
                                </div>
                                <div class="c-info">
                                    <a href="http://www.daqianchao.com/zscp/2309.html">三五挚友酒</a>
                                    <ins><a href="javascript:;" rel="nofollow" class="th1" onclick="openwindow('http://p.qiao.baidu.com/cps/chat?siteId=12855406&userId=26897337','',750,664)">立即咨询</a><a href="http://www.daqianchao.com/zscp/2309.html" rel="nofollow" class="th1">点击详情</a></ins>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<include file="public/foot" />
<script src="/Public/index/templets/in_dd/js/list_act_img.js" type="text/javascript"></script>



</body>
</html>

