
@import "init.css";
@import "head.css";
@import "foot.css";
@import "box_arc.css";

.div-path .row-path {padding-bottom: 10px;text-align: left;border-bottom: 1px solid #ddd;}

.div-list .row-list .ul {width: calc(100% + 20px);transform: translate(-10px, 0px);}
.div-list .row-list li {float: left;width: 25%;margin-top: 20px;}
.div-list .row-list li div {position: relative;margin: 0px 10px;padding-top: 10px;}
.div-list .row-list li div::after, .div-list .row-list li div::before {
    display: block;position: absolute;left: 50%;top: 4px;width: 100%;height: 1px;content: '';
    transform: translate(-50%, 0);background: #888;
}
.div-list .row-list li div::before {
    top: 0;width: calc(100% - 10px);
}

.div-list .row-list li .c-img, .div-list .row-list li .c-video {padding-top: 66.67%;}
.div-list .row-list li span {height: 25px;line-height: 27px;margin-top: 10px;font-size: 16px;}
.div-list .row-list li p {height: 25px;line-height: 27px;font-size: 14px;color: #666;}