<div id="foot" class="foot">
    <div class="div">
        <div class="box">
            <div class="block row-link">
                <div class="ul">
                    <ul>
                        <li class="col-wx">
                            <img src="/Public/index/templets/in_dd/image/foot_baijiu/ewm.jpg" />
                            <span>扫码咨询客服微信</span>
                        </li>
                        <li class="col-btn">
                            <a rel="nofollow" href="http://www.tianyancha.com/company/617584660?hi=s">
                                <img src="/Public/index/templets/in_dd/image/foot_baijiu/tianyan.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block row-list">
                <div class="ul">
                    <ul>
                        <li class="col-dzj col-goods">
                            <div>
                                <span><a rel="nofollow" href="http://www.daqianchao.com/yuanjiang/">定制酒系列<u>/ Custom Wine</u></a></span>
                                <dl class="c-d">
                                    <dd><a href="/yuanjiang/1466.html">婚宴定制酒</a></dd>
                                    <dd><a href="/yuanjiang/1467.html">私人定制酒</a></dd>
                                    <dd><a href="/yuanjiang/1537.html">收藏定制酒</a></dd>
                                    <dd><a href="/yuanjiang/1533.html">寿宴定制酒</a></dd>
                                    <dd><a href="/yuanjiang/1467.html">个性化定制酒</a></dd>
                                    <dd><a href="/yuanjiang/1539.html">接待定制酒</a></dd>
                                    <dd><a href="/yuanjiang/1535.html">周年庆定制酒</a></dd>
                                    <dd><a href="/yuanjiang/1510.html">企业定制酒</a></dd>
                                </dl>
                            </div>
                        </li>
                        <li class="col-sj col-goods">
                            <div>
                                <span><a rel="nofollow" href="http://www.daqianchao.com/sanjiu/">散酒系列<u>/ Bulk Wine</u></a></span>
                                <dl class="c-d">
                                    <dt>按规格分类：</dt>
                                    <dd><a href="/sanjiu/1257.html">一号散酒</a></dd>
                                    <dd><a href="/sanjiu/1258.html">二号散酒</a></dd>
                                    <dd><a href="/sanjiu/1259.html">三号散酒</a></dd>
                                    <dd><a href="/sanjiu/1260.html">四号散酒</a></dd>
                                    <dd><a href="/sanjiu/1261.html">五号散酒</a></dd>
                                    <dd><a href="/sanjiu/860.html">六号散酒</a></dd>
                                </dl>
                                <dl>
                                    <dt>按包装分类：</dt>
                                    <dd><a href="/sanjiu/1210.html">大桶散装白酒</a></dd>
                                    <dd><a href="/sanjiu/">小瓶散装白酒</a></dd>
                                    <dd><a href="/sanjiu/1541.html">大坛散装白酒</a></dd>
                                </dl>
                                <dl>
                                    <dt>按斤分类：</dt>
                                    <dd><a href="/sanjiu/1210.html">一斤散酒</a></dd>
                                    <dd><a href="/sanjiu/1210.html">两斤散酒</a></dd>
                                    <dd><a href="/sanjiu/1210.html">三斤散酒</a></dd>
                                </dl>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span><a rel="nofollow" href="http://www.daqianchao.com/qiye/">关于我们<u>/ About Us</u></a></span>
                                <dl>
                                    <dd><a rel="nofollow" href="http://www.daqianchao.com/qiye/">企业简介</a></dd>
                                    <dd><a rel="nofollow" href="http://www.daqianchao.com/qiye/">发展历程</a></dd>
                                    <dd><a rel="nofollow" href="http://www.daqianchao.com/xinwen/">酒类动态</a></dd>
                                    <dd><a rel="nofollow" href="http://www.daqianchao.com/jiameng/">商务合作</a></dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="foot-info" class="foot-info">
    <div class="div">
        <div class="box">
            <div class="block row-info">
                <div class="d-text">
                    <img src="/Public/index/templets/in_dd/image/foot_logo.png" />
                    <p>贵州大黔朝酒业有限公司 茅台镇白酒生产厂家</p>
                    <p>电话：0851-8575-5116 文总：180-8500-7237</p>
                    <p>QQ：35439644 &#160;邮箱：daqianchao@qq.com</p>
                    <p>酒厂地址:贵州省仁怀市茅台镇河滨街316号</p>
                    <p>公司总部地址:贵州省贵阳市南明区花果园财富广场2号楼整栋</p>
                    <p>黔ICP备16001801号-1</p>

                </div>
            </div>
            <div class="block row-search">
                <div class="d-text">
                    <a rel="nofollow" href="http://www.anccnet.com/"><img src="/Public/index/templets/in_dd/image/gds.png" /></a>
                </div>
                <div class="ul b-img">
                    <ul>
                        <li data-code="6970178300087" data-url="http://www.anccnet.com/goods.aspx?base_id=F25F56A9F703ED7414E6EF1D5169762801422005DD061EF9FE49618C35947311E84AE65E10045006">
                            <div><img src="/Public/index/templets/in_dd/image/gds_nbttj.png" /><span>黔朝·三十</span></div>
                        </li>
                        <li data-code="06971848410082" data-url="http://www.anccnet.com/goods.aspx?base_id=F25F56A9F703ED74DD3836E2DED1FC55823F7B0544670E9B2C2C98EBC5450A4E66B31F38B305E677">
                            <div><img src="/Public/index/templets/in_dd/image/gds_jpyj.png" /><span>一坛老酒</span></div>
                        </li>
                        <li data-code="06970178308946" data-url="http://www.anccnet.com/goods.aspx?base_id=F25F56A9F703ED742686CB1DEB63BB54BF4EBD63A630CF1A234719FA475BC38DC41AEBB1709A7557">
                            <div><img src="/Public/index/templets/in_dd/image/gds_dzlj.png" /><span>黔朝原酱</span></div>
                        </li>
                        <li data-code="06971848410129" data-url="http://www.anccnet.com/goods.aspx?base_id=F25F56A9F703ED741FE4672EE21C92BD9FA0533F05C8BF0D3D3E765A3BAD94F349C932082CD17465">
                            <div><img src="/Public/index/templets/in_dd/image/gds_cjjl.png" /><span>荷花酒</span></div>
                        </li>
                        <li data-code="6970178300063" data-url="http://www.anccnet.com/goods.aspx?base_id=F25F56A9F703ED741A75B7FC36F2703E103154770B88C5E4AA463A9C92FA9E22A601F489BF8DFFA6">
                            <div><img src="/Public/index/templets/in_dd/image/gds_qcn.png" /><span>黔朝·内部用酒</span></div>
                        </li>
                        <li data-code="06971848410020" data-url="http://www.anccnet.com/goods.aspx?base_id=F25F56A9F703ED74DA16435EC35DCE2343D0AD58BFC498395E810BEE70629969CE7961E7F227064A">
                            <div><img src="/Public/index/templets/in_dd/image/gds_dzjp.png" /><span>黔朝·二十</span></div>
                        </li>
                    </ul>
                </div>
                <div class="b-search">
                    <form action="http://www.anccnet.com/" method="get" target="_blank">
                        <input class="c-input" type="search" placeholder="请输入编码查询" />
                        <a rel="nofollow" class="c-btn" href="javascript:;">查询</a>
                    </form>
                </div>
            </div>
            <div class="block row-link">
                <div class="b-text"><p>贵州大黔朝作为：<a href="./">纯粮散白酒</a>的生产厂家，现向全国进行诚招<a href="./">散白酒加盟</a>和<a href="./">茅台镇散酒代理</a>，并且，还支持定制各种各样的<a href="./">定制酒</a>，其中<a href="./">定制酒</a>就分别有：<a href="./">婚宴定制酒</a>，<a href="./">私人定制酒</a>，<a href="./">寿宴定制酒</a>，<a href="./">个性化定制酒</a>，<a href="./">企业定制酒</a>，<a href="./">接待定制酒</a>以及各种类型的<a href="./">定制酒</a>定制，只要是你想定制的<a href="./">定制酒</a>我们都可以定制，并且，我们的大黔朝旗下除了<a href="./">散白酒</a>之外，还分别有，<a href="./">洞藏老坛酒</a>，<a href="./">洞藏老酒</a>，<a href="./">洞藏酒</a>以及由原来<a href="./">的窖泥封坛酒</a>更名为的<a href="./">泥巴土坛酒</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Public/index/templets/in_dd/js/base.js" type="text/javascript"></script>
<script src="/Public/index/templets/in_dd/js/init.js" type="text/javascript"></script>
<script src="/Public/index/templets/in_dd/js/jquery.kxbdMarquee.js" type="text/javascript"></script>
<script src="/Public/index/templets/in_dd/js/index.js" type="text/javascript"></script>

<script>
    document.write('<script type="text/javascript"  data-lxb-uid="26897337" data-lxb-gid="452643" src="http://lxbjs.baidu.com/api/asset/api.js?t=' + new Date().getTime() + '" charset="utf-8"></scr' + 'ipt>' );
</script>
<style>
    .call {height: 0;z-index:999;}
    .call .row-btn {animation: rotate 1s linear infinite;position: fixed;z-index: 999;left: 5px;bottom: 60px;width: 50px;height: 50px;border-radius: 50%;border: 2px solid rgba(0, 0, 0, 0.1);background: #fff padding-box;overflow:hidden;}
    @keyframes rotate {0% {transform: translateY(0);}25% {transform: translateY(10px);}50% {transform: translateY(20px);}75% {transform: translateY(10px) ;}100% {transform: translateY(0) ;}}
    .call .row-btn a {display: block;height: 40px;padding: 5px 0px;overflow: hidden;text-align: center;box-shadow: 0px 0px 10px #ddd inset;}
    .call .row-btn a::after {display: block;position: absolute;left: 0;top: 0;width: 100%;height: 50%;content: '';border-radius: 0px 0px 5px 5px;background: #f00;}
    .call .row-btn a::before {display: block;position: absolute;left: 50%;top: 50%;width: 0;height: 0;content: '';transform: translate(-50%, 0);border: 3px solid transparent;border-top-color: #f00;}
    .call .row-btn a * {display: block;position: relative;z-index: 1;height: 20px;line-height: 20px;overflow: hidden;color: #666;}
    .call .row-btn a i {line-height: 22px;color: #fff;}
    .call .row-info {overflow:hidden;display: none;position: fixed;z-index: 9999;left: 50%;top: 50%;width: 280px;height: 154px;padding: 15px;transform: translate(-50%, -50%);border-radius: 10px;border: 2px solid rgba(0, 0, 0, 0.1);background: #fff padding-box;}
    .call .row-info .c-close {
        display: inline-block;position: absolute;right: 0px;top: 0px;width: 25px;height: 20px;line-height: 20px;
        text-align: center;font-size: 14px;font-weight: 700;color: #666;
        border-radius: 0px 0px 0px 10px;background: #ddd;
    }
    .call .row-info h2 {
        height: 25px;line-height: 25px;text-align: center;font-size: 18px;
    }
    .call .row-info form {display: block;margin-top: 10px;padding: 1px;overflow: hidden;border: 1px solid #666;border-radius: 5px;}
    .call .row-info form .c-input {
        float: left;width: calc(100% - 90px);height: 28px;line-height: 28px;padding: 2px 5px 0px 5px;
        font-size: 14px;color: #666;border: none;
    }
    .call .row-info form .c-btn {
        display: block;width: 80px;height: 30px;line-height: 32px;overflow: hidden;text-align: center;font-size: 14px;color: #fff;
        border-radius: 0px 5px 5px 0px;border: none;background: #666;
    }
    .call .row-info p {display: block;line-height: 20px;margin-top: 10px;overflow: hidden;font-size: 12px;color: #666;}
    .call .row-info ins {position: absolute;left: 0;bottom: 0;width: 100%;height: 45px;}
    .call .row-info ins a {
        float: left;width: 50%;height: 100%;line-height: 45px;text-align: center;font-size: 16px;color: #fff;
        background: #f60;
    }
    .call .row-info ins .c-ask {position: relative;background: #13a4db;}
    .call.on-show .row-btn {display: none;}
    .call.on-show .row-info {display: block;}
</style>