<div id="top" class="top">
    <div class="div">
        <div class="box">
            <div class="block row-info">
                <div class="ul">
                    <ul>
                        <li class="col-backold"><a href="/">返回首页</a></li>
                    </ul>
                </div>
            </div>
            <div class="block row-link">
                <div class="ul">
                    <ul>
                        <li><a rel="nofollow" href="" target="_blank">官方微博</a></li>
                        <li><a rel="nofollow" href="/lianxi/" target="_blank">在线留言</a></li>
                        <li><a rel="nofollow" href="/kehu/" target="_blank">客户案列</a></li>
                        <li><a rel="nofollow" href="/sitemap.html" target="_blank">网站地图</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>