<include file="public/head" />

<link href="/Public/index/templets/in_dd/css/index.css" type="text/css" rel="stylesheet" />

<include file="public/top" />

<include file="public/menu" />

<link rel="stylesheet" type="text/css" href="/Public/index/templets/in_dd/css/init.css">
<link rel="stylesheet" type="text/css" href="/Public/index/templets/in_dd/css/list_arc_jiameng.css">
<div id="div-slidex" class="div-slidex d">
    <div class="div">
        <div class="box">
            <div class="block row-slide slide c-center">
                <div class="ul">
                    <ul>
                        <volist name="banner" id="vo"  key="k">
                            <li class="col{$k}">
                                <a class="c-img" href="{$vo.url}"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="/Uploads/{$vo.img}" data-bg="1"/></a>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- index-using -->
<div id="main" class="main">

    <!--- 产品 --->
    <div id="div_goods" class="div_goods">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <img src=".templets/in_dd/image/cptx/hong_jt.png" />
                    <div>【服务与产品】</div>
                </div>

                <div class="row-goods">
                    <div class="ul d-img">
                        <ul>
                            <li class="col1">
                                <a href="/zszc/"><em>---白酒招商---</em>
                                <div class="goods_hui">
                                    <div class="c-img"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="./templets/in_dd/image/cptx/cptx_13.jpg" data-bg="1"/></div>
                                    <span>|招商政策</span>
                                    <p>茅台镇酱香型白酒全国火热招商，各地仅限一名数量有限，先到先得！</p></div>
                            </a>
                            </li>
                            <li class="col2"><a href="/jiameng/#div-bjyous"><em>---散酒加盟---</em>
                                <div class="goods_hui">
                                    <div class="c-img"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                            data-src="./templets/in_dd/image/cptx/cptx_2.jpg" data-bg="1"/></div>
                                    <span>|代理政策</span>
                                    <p>大黔朝酒业各种散酒、散白酒 0元免费加盟，低门槛、高质量，散酒加盟的不二之选。</p></div>
                            </a></li>
                            <li class="col3"><a href="/baijiu/baozhuang/"><em>---定制酒---</em>
                                <div class="goods_hui">
                                    <div class="c-img">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                            data-src="./templets/in_dd/image/cptx/cptx_8.jpg" data-bg="1"/></div>
                                    <span>|个性定制</span>
                                    <p>个性化一对一服务定制。客户提供需求。为您量身打造定制方案。签定定制合同，保障定制质量。</p></div>
                            </a></li>
                            <li class="col4"><a href="/cpzx/"><em>---零售产品---</em>
                                <div class="goods_hui">
                                    <div class="c-img"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                            data-src="./templets/in_dd/image/cptx/cptx_4.jpg" data-bg="1"/></div>
                                    <span>|明星产品</span>
                                    <p>大黔朝酒业精心打造的自身明星品牌产品：黔朝酿系列、洞藏精品系列老酒。</p></div>
                            </a></li>
                            <li class="col5"><a href="/dingzhi/"><em>---定制案例---</em>
                                <div class="goods_hui">
                                    <div class="c-img"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                            data-src="./templets/in_dd/image/cptx/cptx_9.jpg" data-bg="1"/></div>
                                    <span>|案例展示</span>
                                    <p>专注婚宴定制酒、企业定制酒十余年。注重质量与个性相结合，为您打造独特的文化品牌。</p></div>
                            </a></li>
                            <li class="col6"><a href="/oem/"><em>---OEM贴牌---</em>
                                <div class="goods_hui">
                                    <div class="c-img"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                            data-src="./templets/in_dd/image/cptx/cptx_11.jpg" data-bg="1"/></div>
                                    <span>|贴牌政策</span>
                                    <p>满与客户达成合作意向后，带客户到公司商议合作事宜，签署合同。</p></div>
                            </a></li>
                            <li class="col7"><a href="/dingzhi/"><em>---婚宴定制酒---</em>
                                <div class="goods_hui">
                                    <div class="c-img"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                            data-src="./templets/in_dd/image/cptx/cptx1.jpg" data-bg="1"/></div>
                                    <span>|婚宴定制酒</span>
                                    <p>为新人量身打造属于自己的专属浪漫。个性化外观、祝福语、刻字等个性化服务。</p></div>
                            </a></li>
                            <li class="col8"><a href="/jiameng/#div-bjyous"><em>---招商流程---</em>
                                <div class="goods_hui">
                                    <div class="c-img"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                            data-src="./templets/in_dd/image/cptx/cptx2.jpg" data-bg="1"/></div>
                                    <span>|招商流程</span>
                                    <p>招商流程图，加入我们的8大理由，6大优势！</p></div>
                            </a></li>
                            <li class="col9 col-1"><a href="/kehu/"><em>---我们的客户---</em>
                                <div class="goods_hui">
                                    <div class="c-img"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                            data-src="./templets/indd/image/cptx/cptx3.jpg" data-bg="1"/></div>
                                    <span>|我们的客户</span>
                                    <p>加入我们，做最赚钱的代理，你还在等什么？</p></div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--- 视频 --->
    <div id="div-about" class="div-about">
        <div class="div">
            <div class="box">
                <a name="goto-div-about"></a>

                <div class="row-title">
                    <img src="./templets/indd/image/cptx/hong_jt.png" />
                    <div>【公司简介】</div>
                </div>

                <div class="block row-slide slide">
                    <div class="ul d-img d-video">
                        <ul>
                            <li>
                                <textarea>.links/ss.mp4</textarea>
                                <video src="" controls></video>
                                <a class="c-img" href="javascript:;">
                                    <img src="./templets/indd/image/cptx/index_video.jpg" />
                                </a>
                            </li>
                            <li>
                                <textarea>.links/index_video_2.mp4</textarea>
                                <video src="" controls></video>
                                <a class="c-img" href="javascript:;">
                                    <img src="./templets/indd/image/cptx/index_video_2.jpg" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="block row-pop">
                    <div class="b-box">
                        <video src="" controls></video>
                        <iframe src="" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                    </div>
                </div>

                <div class="block row-info">
                    <div class="c-text">
                        <span><i>企业简介</i><u>Company Profile</u></span>
                        <p>
                            贵州大黔朝酒业有限公司是位于“中国第一酒镇”茅台镇，位于贵州省遵义仁怀市赤水河畔，是川黔水路交通的咽喉要地，古有“川盐走贵州，秦商聚茅台”的写照，茅台镇是中国酱酒圣地，域内白酒业兴盛。1995年8月，大黔朝烧坊正式成立；1999年6月，大黔朝烧坊正式更名大黔朝酒厂，投入巨资在茅台镇上坪村倾力打造酱香型白酒生产基地，基地占地面积约300亩，年基酒生产能力4500吨，基酒储存能力15000吨，所有基酒产品完全按照茅台镇传统的生产工艺要求，严格按照节气：端午小麦采曲、重阳高粱投料，全年分两次投料，同一批料要经九次蒸煮、加曲、堆积发酵，一年一个生产周期，在此期间内，经高温制曲、高温堆积、高温入池、高温接酒、低糖化制曲、低水分入池、低出酒量、低酒精浓度等工艺...</p>
                        <a class="c-btn" href=".qiye/">了解详情<small>></small></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--- 新闻资讯 --->
    <div id="div-news" class="div-news">
        <div class="div">
            <div class="box">

                <div class="row-biaot">
                    <div class="b_img"><img src="http://www.daqianchao.com/templets/indd/image/cptx/hong_jt.png" /></div>
                    <span>【新闻资讯】</span>
                </div>

                <!-- 新闻资讯de 导航标签-->
                <div class="row_nav">
                    <ul>
                        <li class="col-item"><a href="javascript:;">酒业新闻</a></li>
                        <li class="col-item"><a href="javascript:;">白酒资讯</a></li>
                        <li class="col-item"><a href="javascript:;">茅台镇酒厂</a></li>
                        <li class="col-item"><a href="javascript:;">公司动态</a></li>
                        <li class="col-item"><a href="javascript:;">合作动态</a></li>
                    </ul>
                </div>

                <!-- 新闻资讯de 文字部分-->
                <div class="row-list">
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <a href="/xinwen/jiuye/2583.html">
                                    <em class="c-img"><img
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                            data-src="http://www.daqianchao.com/uploads/allimg/190509/thumb_260_152_3-1Z50Z929255C.jpg"
                                            width="260" height="152"/></em>
                                    <div>
                                        <span>袁仁国被免去贵州省政协全部职务！</span>
                                        <p>（2019年5月5日政协第十二届贵州省委员会常务委员会第十次会议通过）

                                            政协第十二届贵州省委员会常务委员会第十次会议决定，免去袁仁国同志政协第十二届贵州省委员会常务…</p>
                                        <b><i>酒业新闻</i><u>2019-05-09</u></b>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/xinwen/jiuye/2582.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/templets/indd/images/default.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>五粮液集团华东市场一高管被检方决定逮捕</span>
                                        <p>28日，记者从四川检察机关了解到，因涉嫌受贿罪，五粮液集团有限公司华东营销中心上海省区原副经理陈成被检察机关作出逮捕决定。
                                            …</p>
                                        <b><i>酒业新闻</i><u>2019-04-30</u></b>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/xinwen/jiuye/2578.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190404/thumb_260_152_3-1Z4040930022b.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>横跨三省上亿元假烟酒案侦破！立功的竟是它...</span>
                                        <p>可是近日，赣州瑞金警方依打掉一个“产运销”一条龙，横跨皖闵粤三省犯罪团伙，涉案金额上亿元，团伙30余名主要成员已经落网。…</p>
                                        <b><i>酒业新闻</i><u>2019-04-04</u></b>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <div class="c-more">
                            <a href="/xinwen/jiuye/">MORE+</a>
                        </div>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <a href="/baijiu/zhishi/2581.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190426/thumb_260_152_3-1Z426092642130.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>突发|茅台经销商减少533家，一季度净利112.21亿元同比增32%！茅</span>
                                        <p>据中国证券网，贵州茅台披露一季报，公司2019年一季度实现营收216.44亿元，同比增长23.92%；归属于上市公司股东的净利润112.21亿元，同比增长31.91%；每股收益8.93元。 注…</p>
                                        <b><i>白酒知识</i><u>2019-04-26</u></b>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/baijiu/zhishi/2580.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190413/thumb_260_152_3-1Z41309400cG.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>告诉你茅台镇酱香酒的真正成本......拒绝忽悠！</span>
                                        <p>今天带酒友们从成本的角度来分析一下，正常的一瓶酱香型粮食酒从购料生产到出厂在市面上销售的成本到底是多少。…</p>
                                        <b><i>白酒知识</i><u>2019-04-13</u></b>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/baijiu/zhishi/2579.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190411/thumb_260_152_3-1Z411094S3911.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>茅台为何这么贵？看完这个你就知道了</span>
                                        <p>茅台酒的种种独特工艺，诠释了中国传统里的匠心，数百年来，品质坚如磐石。“崇本守道，坚守工艺，贮足陈酿，不卖新酒”，这是茅台的匠心独白，这一杯茅台酒，喝的岂止是酒…</p>
                                        <b><i>白酒知识</i><u>2019-04-11</u></b>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <div class="c-more">
                            <a href="/baijiu/zhishi/">MORE+</a>
                        </div>
                    </div>
                    <div class="ul d-img">
                        <ul>
                            <li>
                                <a href="/xinwen/jiuye/2466.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/templets/indd/images/default.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>各大名酒小型酿酒设备酿酒为什么要选高粱还要选糯高粱？</span>
                                        <p>闻名中外的茅台、泸州老窖、五粮液等名酒都是以高粱作主料或佐料用酒厂酿酒设备酿造而成，那么多粮食可以用来酿酒，为什么名酒小型酿酒设备酿酒都要选高粱呢?…</p>
                                        <b><i>酒业新闻</i><u>2018-11-08</u></b>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/xinwen/jiuye/2443.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/181011/thumb_260_152_3-1Q011113G3J5.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>从酒厂历史和位置以及酒的价格定位酒厂</span>
                                        <p>从酒厂历史、酒厂位置、酒的价格来正确选择散白酒加盟。…</p>
                                        <b><i>酒业新闻</i><u>2018-10-11</u></b>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <em class="c-img">
                                        <img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/templets/indd/images/default.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>茅台镇酒厂</span>
                                        <p>茅台镇酒厂专题…</p>
                                        <b><i></i><u>2017-12-29</u></b>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <div class="c-more">
                            <a href="/special/arc-1936.html">MORE+</a>
                        </div>
                    </div>

                    <div class="ul d-img">
                        <ul>
                            <li>
                                <a href="/xinwen/gongsi/1823.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/171206/thumb_260_152_6-1G206144J1128-lp.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>双12来临之际，大黔朝迎来了“家人每月6生日宴会”</span>
                                        <p>今天，是12月6号，我们 大黔朝酒业一如既往的每月6的家人 生日宴会，又再次来到了，这一天，我们大黔朝总共百余人的团队，共有4人是12月份生日的，其中，有我们销售部门的…</p>
                                        <b><i>公司新闻</i><u>2017-12-06</u></b>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/xinwen/gongsi/1099.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/161109/thumb_260_152_1-161109160125192.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>实体店面老酒案例|陈年纯粮食原浆53°C|不点击您</span>
                                        <p>年份酒，中国有，外国也有，凡是在包装上标有年份的蒸馏酒都被人们习惯地称为年份酒。一般来讲，年份越长蒸馏酒的品质就越好，当然价格也就越高。 年份一词，在现代汉语词…</p>
                                        <b><i>公司新闻</i><u>2017-12-02</u></b>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/xinwen/gongsi/1102.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/161107/thumb_260_152_1-16110GI359357.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>原浆5年 52度500ml*6瓶 整箱装</span>
                                        <p>老坛酒的年份酒如何识别真假？真的老坛酒，口感醇和、绵厚，辩别老坛酒真伪，我们的酒有防伪措施，比如酒坛底下的logo  大家买酒的时候特别要注意，一看就能知道真伪。
                                            另…</p>
                                        <b><i>公司新闻</i><u>2017-12-02</u></b>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <div class="c-more">
                            <a href="/xinwen/gongsi/">MORE+</a>
                        </div>
                    </div>

                    <div class="ul d-img">
                        <ul>
                            <li>
                                <a href="/kehu/2428.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180929/thumb_260_152_3-1P9291I050Y1-lp.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>2018年9月28日广东潮州代理商张总，黔朝原酱实体店盛大开业。</span>
                                        <p>2018年6月28日广东潮州张总成功签约贵州大黔朝酒业品牌产品：黔朝原酱、黔朝十五、黔朝三十、泥巴土坛酒等定制产品。 2018年9年28日,正是白酒旺季的时期,恭喜广东潮州张总…</p>
                                        <b><i>合作案例</i><u>2018-09-30</u></b>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/kehu/2361.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180806/thumb_260_152_3-1PP6110A1U9.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>广东潮州张总、签约品牌产品2000件、定制产品5000件 战略合作伙</span>
                                        <p>广东潮州张总、签约品牌产品2000件、定制产品5000件…</p>
                                        <b><i>合作案例</i><u>2018-08-06</u></b>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/kehu/2364.html">
                                    <em class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180806/3-1PP6105P90-L.jpg" width="260" height="152" /></em>
                                    <div>
                                        <span>四川省巴中市2018年5月2日，签订2800件公司接待酒，可喜可贺</span>
                                        <p>四川省巴中市2018年5月2日，签订2800件公司接待酒，可喜可贺…</p>
                                        <b><i>合作案例</i><u>2018-08-06</u></b>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <div class="c-more">
                            <a href="/kehu/">MORE+</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--- 新闻资讯 --->
    <div class="div-gsry" id="div-gsry" style="display:none;">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <img src="./templets/in_dd/image/cptx/hong_jt.png" />
                    <div>【精品推荐】</div>
                </div>
                <div class="row-list">
                    <div class="ul d-img">
                        <ul>
                            <li class="col1"><div><em class="c-img"><a href="/zscp/20181201.html"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="./templets/zscp/201812/1201-01.jpg" data-bg="1" /></a></em><a href="/zscp/20181201.html"><p>洞藏老酒<br>茅台镇天然恒温洞藏</p></a></div></li>
                            <li class="col2"><div><em class="c-img"><a href="/zscp/20181202.html"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="./templets/zscp/201812/1202-01.jpg" data-bg="1" /></a></em><a href="/zscp/20181202.html"><p>茅台内供酒<br>国酒茅台、玉液之冠</p></a></div></li>
                            <li class="col3"><div><em class="c-img"><a href="/zscp/20181203.html"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="./templets/zscp/201812/1203-01.jpg" data-bg="1" /></a></em><a href="/zscp/20181203.html"><p>酒糟封藏酒<br>让酒在酒糟里面发酵老熟</p></a></div></li>
                            <li class="col4 col-1"><div><em class="c-img"><a href="/zscp/20181204.html"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="./templets/zscp/201812/1204-01.jpg" data-bg="1" /></a></em><a href="/zscp/20181204.html"><p>金鸡赐福酒<br>酱香突出，香气优雅，口感醇厚</p></a></div></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="div-gsry" id="div-gsry">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <img src="./templets/indd/image/cptx/hong_jt.png" />
                    <div>【公司荣誉】</div>
                </div>
                <div class="row-list">
                    <div class="ul d-img">
                        <ul><li class="col1"><div>
                            <em class="c-img">
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="./templets/indd/image/cptx/rongyu3.jpg" data-bg="1" /></em>
                            <p>2017年4月贵州大黔朝酒业获得全省诚信单位称号</p></div></li><li class="col2"><div><em class="c-img"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/templets/indd/image/cptx/rongyu4.jpg" data-bg="1" /></em><p>2017年4月贵州大黔朝酒业获得全国‘重质量、守信誉’单位称号</p></div></li><li class="col3"><div><em class="c-img"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/templets/indd/image/cptx/rongyu5.jpg" data-bg="1" /></em><p>2017年4月贵州大黔朝酒业获得4A企业资信等级</p></div></li><li class="col4 col-1"><div><em class="c-img"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/templets/indd/image/cptx/rongyu6.jpg" data-bg="1" /></em><p>2017年4月贵州大黔朝酒业获得全省先进单位称号</p></div></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- 合作留言 --->
    <div class="div-msg_title" id="div-msg_title">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <div class="b_img"><img src="./templets/indd/image/cptx/hong_jt.png" /></div>
                    <span>【合作留言】</span>
                </div>
            </div>
        </div>
    </div>

    <div id="div-msg" class="div-msg">
        <div class="div">
            <div class="box">
                <div class="block row-info">
                    <div class="ul">
                        <form name="msg" action="{:U('index/message')}" enctype="multipart/form-data" method="post">
                            <ul>
                                <li class="col-name col-input">
                                    <b>名字：</b>
                                    <span><input class="c-input" type="text" name="names" placeholder="" /></span>
                                </li>
                                <li class="col-qq col-input">
                                    <b>qq/微信：</b>
                                    <span><input class="c-input" type="text" placeholder="" name="wei" /></span>
                                </li>
                                <li class="col-tel col-input">
                                    <b>手机号码：</b>
                                    <span><input class="c-input" type="text" placeholder=""  name="tel"/></span>
                                </li>
                                <li class="col-content col-text">
                                    <b>留言：</b>
                                    <span><textarea placeholder="" name="info"></textarea></span>
                                </li>
                                <li class="col-submit">
                                    <b> </b>
                                    <span>
                                        <input class="c-ok" type="submit" value="在线申请" />
                                        <input class="c-reset" type="reset" value="重置" /></span>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="block row-list">
                    <div class="h2"><h2>客户留言</h2></div>
                    <div class="ul" id="marquee">
                        <ul>
                            <li>
                                <div>
                                    <b>113213</b>
                                    <span>
                    <u>电话：131****9563</u>
                    <i>时间：2019-05-07 13:38</i>
                  </span>
                                    <p><i>问题：</i>酒</p>
                                </div>
                            </li><li>
                            <div>
                                <b>张玉光</b>
                                <span>
                    <u>电话：152****7577</u>
                    <i>时间：2019-04-25 10:59</i>
                  </span>
                                <p><i>问题：</i>代理</p>
                            </div>
                        </li><li>
                            <div>
                                <b>王乐</b>
                                <span>
                    <u>电话：133****7550</u>
                    <i>时间：2019-04-18 17:33</i>
                  </span>
                                <p><i>问题：</i>请厂家联系我</p>
                            </div>
                        </li><li>
                            <div>
                                <b>高仲贤</b>
                                <span>
                    <u>电话：139****4182</u>
                    <i>时间：2019-04-18 07:52</i>
                  </span>
                                <p><i>问题：</i>请问酱酒散酒吨酒价位，有几个档次。</p>
                            </div>
                        </li><li>
                            <div>
                                <b>叶先生</b>
                                <span>
                    <u>电话：139****4249</u>
                    <i>时间：2019-03-22 22:41</i>
                  </span>
                                <p><i>问题：</i>散酒代理</p>
                            </div>
                        </li><li>
                            <div>
                                <b>李军</b>
                                <span>
                    <u>电话：182****4771</u>
                    <i>时间：2019-03-18 15:03</i>
                  </span>
                                <p><i>问题：</i>你好</p>
                            </div>
                        </li><li>
                            <div>
                                <b>吴卫民</b>
                                <span>
                    <u>电话：156****4666</u>
                    <i>时间：2019-03-10 21:29</i>
                  </span>
                                <p><i>问题：</i>代理</p>
                            </div>
                        </li><li>
                            <div>
                                <b>李宗杰</b>
                                <span>
                    <u>电话：152****7678</u>
                    <i>时间：2019-02-25 20:45</i>
                  </span>
                                <p><i>问题：</i>了解一下</p>
                            </div>
                        </li><li>
                            <div>
                                <b>徐邦全</b>
                                <span>
                    <u>电话：133****9726</u>
                    <i>时间：2019-02-19 23:17</i>
                  </span>
                                <p><i>问题：</i>申请加盟代理商，四川成都市高新西区犀浦镇自己的商业门面</p>
                            </div>
                        </li><li>
                            <div>
                                <b>张银芳</b>
                                <span>
                    <u>电话：131****3069</u>
                    <i>时间：2019-02-19 15:02</i>
                  </span>
                                <p><i>问题：</i>想加盟茅台镇散酒</p>
                            </div>
                        </li><li>
                            <div>
                                <b>王经理</b>
                                <span>
                    <u>电话：152****3366</u>
                    <i>时间：2019-02-18 10:05</i>
                  </span>
                                <p><i>问题：</i>你好  我们做运营商数据采集的,可以帮你们采集到同行竞价等推广页面的访客信息,开发匹配精准客户资源,有兴趣了解一下吗? 微信：wangxiancai0420王经理

                                </p>
                            </div>
                        </li><li>
                            <div>
                                <b>18739160815</b>
                                <span>
                    <u>电话：187****0815</u>
                    <i>时间：2018-12-18 17:08</i>
                  </span>
                                <p><i>问题：</i>怎么代理</p>
                            </div>
                        </li><li>
                            <div>
                                <b>13043918115</b>
                                <span>
                    <u>电话：130****8115</u>
                    <i>时间：2018-12-18 17:07</i>
                  </span>
                                <p><i>问题：</i>怎么代理</p>
                            </div>
                        </li><li>
                            <div>
                                <b>李晓明</b>
                                <span>
                    <u>电话：135****1071</u>
                    <i>时间：2018-12-12 10:52</i>
                  </span>
                                <p><i>问题：</i>了解贵厂酒的销售政策。</p>
                            </div>
                        </li><li>
                            <div>
                                <b>朱先生</b>
                                <span>
                    <u>电话：152****7020</u>
                    <i>时间：2018-11-30 14:07</i>
                  </span>
                                <p><i>问题：</i>有意向加盟，请来电联系加盟事宜</p>
                            </div>
                        </li><li>
                            <div>
                                <b>张廷兰</b>
                                <span>
                    <u>电话：139****5298</u>
                    <i>时间：2018-11-26 22:43</i>
                  </span>
                                <p><i>问题：</i>咨询想做酒生意</p>
                            </div>
                        </li><li>
                            <div>
                                <b>张廷兰</b>
                                <span>
                    <u>电话：139****5298</u>
                    <i>时间：2018-11-26 22:43</i>
                  </span>
                                <p><i>问题：</i>咨询想做酒生意</p>
                            </div>
                        </li><li>
                            <div>
                                <b>朱先生</b>
                                <span>
                    <u>电话：152****7020</u>
                    <i>时间：2018-11-26 09:57</i>
                  </span>
                                <p><i>问题：</i>有意向加盟，请来电联系加盟事宜</p>
                            </div>
                        </li><li>
                            <div>
                                <b>杨建</b>
                                <span>
                    <u>电话：134****5665</u>
                    <i>时间：2018-11-25 21:15</i>
                  </span>
                                <p><i>问题：</i>想做代理</p>
                            </div>
                        </li><li>
                            <div>
                                <b>朱先生</b>
                                <span>
                    <u>电话：186****3888</u>
                    <i>时间：2018-10-15 01:07</i>
                  </span>
                                <p><i>问题：</i>我想买二百斤散装白酒</p>
                            </div>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="flink" class="flink">
    <div class="div">
        <div class="box">
            <div class="block row-link">
                <div class="h2"><h2><i>LINKS</i><em>友情链接</em></h2></div>
                <div class="ul">
                    <ul>
                        <volist name="you" id="vo" >
                            <li><a href='{$vo.value}' target='_blank'>{$vo.key}</a> </li>
                        </volist>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="go2top" class="go2top">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a class="c-go2top" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>

<include file="public/foot" />

<include file="public/kefu" />
</body>
</html>

<!--客户留言滚动-->
<script type="text/javascript">
    $("#marquee").kxbdMarquee({
        isEqual:true,         //所有滚动的元素长宽是否相等,true,false
        loop:0,                 //循环滚动次数，0时无限
        direction:"up",       //滚动方向，"left","right","up","down"
        scrollAmount:1,     //步长
        scrollDelay:40        //时长
    });
</script>
