<include file="public/head" />

<link href="/Public/index/templets/in_dd/css/list_arc_jiameng.css" type="text/css" rel="stylesheet" />



<include file="public/top" />


<include file="public/menu" />

<div id="main" class="main">

    <div id="div-banner" class="div-banner">
        <div class="div">
            <div class="box">
                <div class="row-banner">
                    <img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_banner.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div id="div-goods" class="div-goods">
        <div class="div">
            <div class="box">
                <div class="block row-list">
                    <div class="h2 th1">
                        <h2><a href="http://www.daqianchao.com/jnftj/">散酒产品推荐</a></h2>
                    </div>
                    <div class="slide">
                        <div class="ul d-img">
                            <ul>
                                <li>
                                    <div>
                                        <a class="c-img" href="http://www.daqianchao.com/sanjiu/2130.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180131/6-1P13111334QU.jpg" width="300" height="300"" /></a>
                                        <span><a href="http://www.daqianchao.com/sanjiu/2130.html">茅台镇酱香型白酒</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a class="c-img" href="http://www.daqianchao.com/sanjiu/860.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_6-1P50G53445O9.jpg" width="300" height="300"" /></a>
                                        <span><a href="http://www.daqianchao.com/sanjiu/860.html">茅台镇酱香散酒六号酒</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a class="c-img" href="http://www.daqianchao.com/sanjiu/1210.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_3-1P50F93950144.jpg" width="300" height="300"" /></a>
                                        <span><a href="http://www.daqianchao.com/sanjiu/1210.html">茅台镇酱香型散白酒批发</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a class="c-img" href="http://www.daqianchao.com/sanjiu/1257.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_6-1P50G53412120.jpg" width="300" height="300"" /></a>
                                        <span><a href="http://www.daqianchao.com/sanjiu/1257.html">茅台镇酱香散酒一号酒</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a class="c-img" href="http://www.daqianchao.com/sanjiu/1211.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_6-1P50G5353A35.jpg" width="300" height="300"" /></a>
                                        <span><a href="http://www.daqianchao.com/sanjiu/1211.html">茅台镇酱香散酒特1号酒</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a class="c-img" href="http://www.daqianchao.com/sanjiu/1258.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_6-1P50G5331ST.jpg" width="300" height="300"" /></a>
                                        <span><a href="http://www.daqianchao.com/sanjiu/1258.html">茅台镇酱香散酒二号酒</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a class="c-img" href="http://www.daqianchao.com/sanjiu/1259.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_6-1P50G5324D45.jpg" width="300" height="300"" /></a>
                                        <span><a href="http://www.daqianchao.com/sanjiu/1259.html">茅台镇酱香散酒三号酒</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a class="c-img" href="http://www.daqianchao.com/sanjiu/1260.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_6-1P50G532195C.jpg" width="300" height="300"" /></a>
                                        <span><a href="http://www.daqianchao.com/sanjiu/1260.html">茅台镇酱香散酒四号酒</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a class="c-img" href="http://www.daqianchao.com/sanjiu/1261.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180507/thumb_300_300_6-1P50G53143210.jpg" width="300" height="300"" /></a>
                                        <span><a href="http://www.daqianchao.com/sanjiu/1261.html">茅台镇酱香散酒五号酒</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a class="c-img" href="http://www.daqianchao.com/sanjiu/1541.html"><img src=" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/170911/thumb_300_300_6-1F91116234B21.jpg" width="300" height="300"" /></a>
                                        <span><a href="http://www.daqianchao.com/sanjiu/1541.html">散装酱香型白酒</a></span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-bjyous" id="div-bjyous">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <div class="col-wz">
                        <a href="javascript:">酱香白酒型的优势</a>
                    </div>
                    <div class="col-hx"></div>
                    <div class="col-yw">The Advantage Of Jiang Flavour Chinese Spirits</div>
                </div>

            </div>
        </div>
    </div>

    <div class="div-bjystu" id="div-bjystu">
        <div class="div">
            <div class="box">
                <div class="row-bjystu">
                    <img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_bjys.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="div-womenys" id="div-womenys">
        <div class="div">
            <div class="box">
                <div class="row-title">
                    <div class="col-wz">
                        <a href="javascript:">我们的优势</a>
                    </div>
                    <div class="col-hx"></div>
                    <div class="col-yw">Our Advantages</div>
                </div>
            </div>
        </div>
    </div>


    <div class="div-ystu" id="div-ystu">
        <div class="div">
            <div class="box">
                <div class="row-ystu">
                    <img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_wmys.jpg" />
                </div>
            </div>
        </div>
    </div>


    <div id="div-jmanli" class="div-jmanli">
        <div class="div">
            <div class="box">
                <div class="block row-th2">
                    <h2>加盟案例</h2>
                    <em><span>让每一步更具体，互利共赢</span></em>
                </div>
                <div class="block row-list row-img">
                    <div class="h2">
                        <h2>招商代理展示</h2>
                    </div>
                    <div class="ul d-img">
                        <li><a href="http://www.daqianchao.com/kehu/2428.html" class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180929/thumb_386_320_3-1P9291I050Y1-lp.jpg" width="386" height="320" /><i class="c-text">2018年9月28日广东潮州代理商张</i></a></li>
                        <li><a href="http://www.daqianchao.com/kehu/2361.html" class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180806/thumb_386_320_3-1PP6110A1U9.jpg" width="386" height="320" /><i class="c-text">广东潮州张总、签约品牌产品2000</i></a></li>
                        <li><a href="http://www.daqianchao.com/kehu/2364.html" class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180806/thumb_386_320_3-1PP6105P90-L.jpg" width="386" height="320" /><i class="c-text">四川省巴中市2018年5月2日，签订</i></a></li>
                        <li><a href="http://www.daqianchao.com/kehu/2363.html" class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180806/thumb_386_320_3-1PP61053490-L.jpg" width="386" height="320" /><i class="c-text">海南省海口市林总与公司美女招商</i></a></li>
                        <li><a href="http://www.daqianchao.com/kehu/2362.html" class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180806/thumb_386_320_3-1PP61042490-L.jpg" width="386" height="320" /><i class="c-text">山东省临沂市张总2018年7月10日</i></a></li>
                        <li><a href="http://www.daqianchao.com/kehu/2213.html" class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180227/thumb_386_320_6-1P22G40I4256-lp.JPG" width="386" height="320" /><i class="c-text">祝贺江西赣州欧阳总成功成为洞藏</i></a></li>
                        <li><a href="http://www.daqianchao.com/kehu/1545.html" class="c-img"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/170911/thumb_386_320_6-1F9111P14OR.jpg" width="386" height="320" /><i class="c-text">福建宁德市陈姐和林姐成功代理</i></a></li>

                    </div>
                </div>
                <div class="block row-list row-anli">
                    <div class="h2">
                        <h2>招商代理</h2><span><a href="/kehu/">更多&gt;&gt;</a></span>
                    </div>
                    <div class="ul">
                        <ul>
                            <li><em>2018-09-30</em><i></i><a href="http://www.daqianchao.com/kehu/2428.html">2018年9月28日广东潮州代理商张</a></li>
                            <li><em>2018-08-06</em><i></i><a href="http://www.daqianchao.com/kehu/2361.html">广东潮州张总、签约品牌产品2000</a></li>
                            <li><em>2018-08-06</em><i></i><a href="http://www.daqianchao.com/kehu/2364.html">四川省巴中市2018年5月2日，签订</a></li>
                            <li><em>2018-08-06</em><i></i><a href="http://www.daqianchao.com/kehu/2363.html">海南省海口市林总与公司美女招商</a></li>
                            <li><em>2018-08-06</em><i></i><a href="http://www.daqianchao.com/kehu/2362.html">山东省临沂市张总2018年7月10日</a></li>
                            <li><em>2018-08-06</em><i></i><a href="http://www.daqianchao.com/kehu/2213.html">祝贺江西赣州欧阳总成功成为洞藏</a></li>
                            <li><em>2017-12-19</em><i></i><a href="http://www.daqianchao.com/kehu/1545.html">福建宁德市陈姐和林姐成功代理</a></li>

                        </ul>

                    </div>
                </div>
                <div class="block row-list row-went row-anli">
                    <div class="h2">
                        <h2>白酒资讯</h2><span><a href="/xinwen/jiuye/">更多&gt;&gt;</a></span>
                    </div>
                    <div class="ul">
                        <ul>
                            <li>
                                <em>2019-05-09</em><i></i><a href="http://www.daqianchao.com/xinwen/jiuye/2583.html">袁仁国被免去贵州省政协全部职务</a>
                            </li>
                            <li>
                                <em>2019-04-30</em><i></i><a href="http://www.daqianchao.com/xinwen/jiuye/2582.html">五粮液集团华东市场一高管被检方</a>
                            </li>
                            <li>
                                <em>2019-04-04</em><i></i><a href="http://www.daqianchao.com/xinwen/jiuye/2578.html">横跨三省上亿元假烟酒案侦破！立</a>
                            </li>
                            <li>
                                <em>2019-03-28</em><i></i><a href="http://www.daqianchao.com/xinwen/jiuye/2572.html">飞天茅台涨至2200元，商家预估还</a>
                            </li>
                            <li>
                                <em>2019-03-23</em><i></i><a href="http://www.daqianchao.com/xinwen/jiuye/2571.html">荷花酒是怎样的一种酒？</a>
                            </li>
                            <li>
                                <em>2019-01-29</em><i></i><a href="http://www.daqianchao.com/xinwen/jiuye/2569.html">第101届全国糖酒会落户天津</a>
                            </li>
                            <li>
                                <em>2019-01-29</em><i></i><a href="http://www.daqianchao.com/xinwen/jiuye/2568.html">湖北警方破获特大制售假酒案 查</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-hongd" id="div-hongd">
        <div class="div">
            <div class="box">
                <div class="row-hongd">
                    <img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_hongd.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="div-zszc" id="div-zszc">
        <div class="div">
            <div class="box">
                <div class="row-zszc">
                    <img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_zszc.jpg" />
                </div>
                <div class="row-table">
                    <table><tr class="col1"><td>区域代理</td><td>条件</td></tr><tr class="col2"><td>省级代理</td><td>100万/年货量、首批50万货款</td></tr><tr class="col3"><td>市级代理</td><td>50万/年货量、首批25万货款</td></tr><tr class="col4"><td>区级代理</td><td>20万/年货量、首批10万货款</td></tr><tr class="col5"><td>分销代理</td><td>5万/年货量、首批3万货款</td></tr><tr class="col6"><td>电商、微信</td><td>2万/年货量、首批12000货款</td></tr><tr class="col7 col-1"><td>零售</td><td>无要求</td></tr></table>
                </div>
            </div>
        </div>
    </div>

    <div id="div-jiameng" class="div-jiameng">
        <div class="div">
            <div class="box">
                <div class="row-jiameng">
                    <img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_zsjm.jpg" />
                </div>
            </div>
        </div>
    </div>


    <div id="div-tubiao" class="div-tubiao">
        <div class="div">
            <div class="box">
                <div class="row-tubiao">
                    <div class="ul d-img">
                        <ul><li class="col1"><div class="c-img"><img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_zixun.png" /></div><span><i>1.</i>电话咨询</span></li><li class="col2"><div class="c-img"><img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_shid.png" /></div><span><i>2.</i>实地考擦</span></li><li class="col3"><div class="c-img"><img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_jied.png" /></div><span><i>3.</i>解答疑惑</span></li><li class="col4 col-1"><div class="c-img"><img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_qdht.png" /></div><span><i>4.</i>签订合同</span></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-phone" id="div-phone">
        <div class="div">
            <div class="box">
                <div class="row-phone">
                    <a href="tel:180-8500-7237"><img src="http://www.daqianchao.com/templets/indd/image/sjdl/sjdl_phone.jpg" /></a>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="go2top" class="go2top">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a class="c-go2top" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>

<include file="public/foot" />

<script src="/Public/index/templets/in_dd/js/list_arc_jiameng.js" type="text/javascript"></script>

<include file="public/kefu" />
</body>
</html>
