<include file="public/head" />

<link href="/Public/index/templets/in_dd/css/list_arc_cjd.css" type="text/css" rel="stylesheet" />

<include file="public/top" />

<include file="public/menu" />

<div id="main" class="main">

    <!-- 顶端大图 -->

    <div id="div-banner" class="div-banner"></div>

    <!-- 视频介绍 -->

    <div id="div-video" class="div-video">
        <div class="div">
            <div class="box">
                <div class="part-bg">
                    <div class="part-box">
                        <div class="block row-slide slide">
                            <div class="ul d-img d-video">
                                <ul><li class="col1"><em class="c-video">
                                    <video src="/links/ss.mp4"></video></em>
                                    <a class="c-img" href="javascript:;">
                                        <img src="/Public/index/templets/in_dd/images/index_video.jpg" /></a></li><li class="col2 col-1">
                                    <em class="c-video"><video src="/links/index_video_2.mp4"></video></em>
                                    <a class="c-img" href="javascript:;"><img src="/Public/index/templets/in_dd/images/index_video_2.jpg" /></a></li></ul>
                            </div>
                        </div>
                        <div class="block row-info">
                            <div class="c-text">
                                <span>藏酒洞介绍</span>
                                <em><i>Wine Cave</i></em>
                                <p>
                                    　　洞藏本身是一种价值文化作为传统贮藏文化的一个细分领域，洞藏本身就是一种文化。首页，文化的概念本质是指在特定环境中的特定人群对某种现象、观点及行为的普遍接受，即所谓产品的知名度和美誉度等；其次，中国自古就有“神仙在洞中，洞中有宝藏”的民俗文化传说，加之影视作品、文化故事的渲染，至今一些地方的传统民俗文化节里仍保持着求神拜洞的传统习俗，现代生活中也在不断演绎着探洞寻宝的故事。
                                    <a class="c-btn" href="#call">了解详情<small>&gt;&gt;</small></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 生产环境 -->

    <div id="div-hj" class="div-hj">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2>藏酒洞一览</h2>
                    </div>
                </div>
                <div class="part-bg">
                    <div class="part-box">
                        <div class="block row-list">
                            <div class="ul d-img">
                                <ul>
                                    <li class="col1">
                                        <div><em class="c-img"><img
                                                src="/Public/index/templets/in_dd/image/cjd/hj_1.jpg"/></em><span>良好的通风环境</span>
                                        </div>
                                    </li>
                                    <li class="col2">
                                        <div><em class="c-img"><img src="/Public/index/templets/in_dd/image/cjd/hj_2.jpg"/></em><span>品种多样的坛装</span>
                                        </div>
                                    </li>
                                    <li class="col3 col-1">
                                        <div><em class="c-img"><img src="/Public/index/templets/in_dd/image/cjd/hj_3.jpg"/></em><span>灯光监控实拍</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 产品优点 -->

    <div id="div-yd" class="div-yd">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2>为什么选择藏酒洞存酒</h2>
                    </div>
                </div>
                <div class="part-bg">
                    <div class="part-box">
                        <div class="block row-list">
                            <div class="ul d-img">
                                <ul>
                                    <li class="col1">
                                        <div><em class="c-img"><img src="/Public/index/templets/in_dd/image/cjd/yd_1.jpg"/></em>
                                            <ins><span>有利的地质条件</span>
                                                <p>藏酒洞山水相依，洞内自然通融，常年不见阳光，空气流动极其缓慢，静谧清凉，给溶洞创造了有利的温室条件。</p></ins>
                                        </div>
                                    </li>
                                    <li class="col2">
                                        <div><em class="c-img"><img src="/Public/index/templets/in_dd/image/cjd/yd_2.jpg"/></em>
                                            <ins><span>有利的恒温环境</span>
                                                <p>
                                                    溶洞内温度、湿度相对恒定，受季节和气候的影响比较小，经过长期、复杂、缓慢的物理化学反应，辛辣味及不良气味逐渐消失，使酒体变得柔顺、醇和，香味协调，出现陈酒的独特风味。</p>
                                            </ins>
                                        </div>
                                    </li>
                                    <li class="col3">
                                        <div><em class="c-img"><img src="/Public/index/templets/in_dd/image/cjd/yd_3.jpg"/></em>
                                            <ins><span>微生物种类丰富</span>
                                                <p>远离工厂污染，空气质量好，负氧气离子较高，微生物种类丰富，对原酒的保存和后天的老熟、生香，具有独特的作用。</p></ins>
                                        </div>
                                    </li>
                                    <li class="col4 col-1">
                                        <div><em class="c-img"><img src="/Public/index/templets/in_dd/image/cjd/yd_4.jpg"/></em>
                                            <ins><span>符合大众口感</span>
                                                <p>酒是陈的想香，这话一点没有错，正是因为经过长时间的存储，洞内的自然条件利于除去酒体中的杂质，才会有陈年酒香的韵味，赢得大家的喜爱。</p>
                                            </ins>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 帮助说明 -->

    <div id="div-bz" class="div-bz">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2>藏酒洞能提供的帮助</h2>
                    </div>
                </div>
                <div class="part-bg">
                    <div class="part-box">
                        <div class="block row-list">
                            <div class="ul d-img">
                                <ul>
                                    <li class="col1">
                                        <div><em class="c-img"><img src="/Public/index/templets/in_dd/image/cjd/bz_1.png"/></em><span>远程提供在线观看</span>
                                        </div>
                                    </li>
                                    <li class="col2">
                                        <div><em class="c-img"><img src="/Public/index/templets/in_dd/image/cjd/bz_2.png"/></em><span>免费考察，全程接送</span>
                                        </div>
                                    </li>
                                    <li class="col3 col-1">
                                        <div><em class="c-img"><img src="/Public/index/templets/in_dd/image/cjd/bz_3.png"/></em><span>代理商可免费藏酒</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 品质图片 -->

    <div id="div-pz" class="div-pz">
        <div class="div">
            <div class="box">
                <div class="part-bg">
                    <div class="part-box">
                        <div class="block row-img">
                            <img src="/Public/index/templets/in_dd/image/cjd/ccsj.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 文章推荐 -->

    <div id="div-tj" class="div-tj">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2>热门推荐</h2>
                    </div>
                </div>
                <div class="part-bg">
                    <div class="part-box">
                        <div class="block row-list">
                            <div class="part-block">
                                <div class="h2">
                                    <a class="c-more" href="http://www.daqianchao.com/xinwen/">更多</a>
                                    <h2><a href="http://www.daqianchao.com/xinwen/">洞藏新闻</a></h2>
                                </div>
                                <div class="ul d-img">
                                    <ul>
                                        <li>
                                            <a class="c-img" href="http://www.daqianchao.com/xinwen/jiuye/2583.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190509/thumb_120_80_3-1Z50Z929255C.jpg" width="120" height="80" /></a>
                                            <span><a href="http://www.daqianchao.com/xinwen/jiuye/2583.html">袁仁国被免去贵州省政协全部职务</a></span>
                                            <p><a href="http://www.daqianchao.com/xinwen/jiuye/2583.html">（2019年5月5日政协第十二届贵州省委员会常务委员会第十次会议通…</a></p>
                                        </li>
                                        <li>
                                            <a class="c-img" href="http://www.daqianchao.com/xinwen/jiuye/2578.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190404/thumb_120_80_3-1Z4040930022b.jpg" width="120" height="80" /></a>
                                            <span><a href="http://www.daqianchao.com/xinwen/jiuye/2578.html">横跨三省上亿元假烟酒案侦破！立</a></span>
                                            <p><a href="http://www.daqianchao.com/xinwen/jiuye/2578.html">可是近日，赣州瑞金警方依打掉一个“产运销”一条龙，横跨皖闵粤…</a></p>
                                        </li>
                                        <li>
                                            <a class="c-img" href="http://www.daqianchao.com/xinwen/jiuye/2572.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/190328/thumb_120_80_3_032P952321403.jpg" width="120" height="80" /></a>
                                            <span><a href="http://www.daqianchao.com/xinwen/jiuye/2572.html">飞天茅台涨至2200元，商家预估还</a></span>
                                            <p><a href="http://www.daqianchao.com/xinwen/jiuye/2572.html">今日53度飞天茅台酒(500ml)批价涨到1900-1950之间，目前缺货严重…</a></p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block row-list">
                            <div class="part-block">
                                <div class="h2">
                                    <a class="c-more" href="http://www.daqianchao.com/kehu/">更多</a>
                                    <h2><a href="http://www.daqianchao.com/kehu/">招商案例</a></h2>
                                </div>
                                <div class="ul d-img">
                                    <ul>
                                        <li>
                                            <a class="c-img" href="http://www.daqianchao.com/kehu/2428.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180929/thumb_120_80_3-1P9291I050Y1-lp.jpg" width="120" height="80" /></a>
                                            <span><a href="http://www.daqianchao.com/kehu/2428.html">2018年9月28日广东潮州代理商张</a></span>
                                            <p><a href="http://www.daqianchao.com/kehu/2428.html">2018年6月28日广东潮州张总成功签约贵州大黔朝酒业品牌产品：黔…</a></p>
                                        </li>
                                        <li>
                                            <a class="c-img" href="http://www.daqianchao.com/kehu/2361.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/180806/thumb_120_80_3-1PP6110A1U9.jpg" width="120" height="80" /></a>
                                            <span><a href="http://www.daqianchao.com/kehu/2361.html">广东潮州张总、签约品牌产品2000</a></span>
                                            <p><a href="http://www.daqianchao.com/kehu/2361.html">广东潮州张总、签约品牌产品2000件、定制产品5000件…</a></p>
                                        </li>
                                        <li>
                                            <a class="c-img" href="http://www.daqianchao.com/kehu/2364.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/180806/thumb_120_80_3-1PP6105P90-L.jpg" width="120" height="80" /></a>
                                            <span><a href="http://www.daqianchao.com/kehu/2364.html">四川省巴中市2018年5月2日，签订</a></span>
                                            <p><a href="http://www.daqianchao.com/kehu/2364.html">四川省巴中市2018年5月2日，签订2800件公司接待酒，可喜可贺…</a></p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block row-list">
                            <div class="part-block">
                                <div class="h2">
                                    <a class="c-more" href="http://www.daqianchao.com/xinwen/gongsi/">更多</a>
                                    <h2><a href="http://www.daqianchao.com/xinwen/gongsi/">公司新闻</a></h2>
                                </div>
                                <div class="ul d-img">
                                    <ul>
                                        <li>
                                            <a class="c-img" href="http://www.daqianchao.com/xinwen/gongsi/1823.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/allimg/171206/thumb_120_80_6-1G206144J1128-lp.jpg" width="120" height="80" /></a>
                                            <span><a href="http://www.daqianchao.com/xinwen/gongsi/1823.html">双12来临之际，大黔朝迎来了“家</a></span>
                                            <p><a href="http://www.daqianchao.com/xinwen/gongsi/1823.html">今天，是12月6号，我们 大黔朝酒业一如既往的每月6的家人 生日宴…</a></p>
                                        </li>
                                        <li>
                                            <a class="c-img" href="http://www.daqianchao.com/xinwen/gongsi/1099.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/161109/thumb_120_80_1-161109160125192.jpg" width="120" height="80" /></a>
                                            <span><a href="http://www.daqianchao.com/xinwen/gongsi/1099.html">实体店面老酒案例|陈年纯粮食原</a></span>
                                            <p><a href="http://www.daqianchao.com/xinwen/gongsi/1099.html">年份酒，中国有，外国也有，凡是在包装上标有年份的蒸馏酒都被人…</a></p>
                                        </li>
                                        <li>
                                            <a class="c-img" href="http://www.daqianchao.com/xinwen/gongsi/1102.html"><img  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" data-src="http://www.daqianchao.com/uploads/161107/thumb_120_80_1-16110GI359357.jpg" width="120" height="80" /></a>
                                            <span><a href="http://www.daqianchao.com/xinwen/gongsi/1102.html">原浆5年 52度500ml*6瓶 整箱装</a></span>
                                            <p><a href="http://www.daqianchao.com/xinwen/gongsi/1102.html">老坛酒的年份酒如何识别真假？真的老坛酒，口感醇和、绵厚，辩别…</a></p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 视频列表 -->

    <div id="div-sp" class="div-sp">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2>藏酒洞视频</h2>
                    </div>
                </div>
                <div class="part-bg">
                    <div class="part-box">
                        <div class="block row-list">
                            <div class="ul d-img d-video">
                                <ul>
                                    <li class="col1">
                                        <div><a class="c-img" href="javascript:;"><img
                                                src="/Public/index/templets/in_dd/image/cjd/sp_1.jpg"/></a><em class="c-video">
                                            <video src="/links/index_video_2.mp4"></video>
                                        </em><span>客户参观藏酒洞</span></div>
                                    </li>
                                    <li class="col2">
                                        <div><a class="c-img" href="javascript:;"><img
                                                src="/Public/index/templets/in_dd/image/cjd/sp_2.jpg"/></a><em class="c-video">
                                            <video src="/links/index_video_2.mp4"></video>
                                        </em><span>忙碌的黔朝家人</span></div>
                                    </li>
                                    <li class="col3 col-1">
                                        <div><a class="c-img" href="javascript:;"><img
                                                src="/Public/index/templets/in_dd/image/cjd/sp_3.jpg"/></a><em class="c-video">
                                            <video src="/links/index_video_2.mp4"></video>
                                        </em><span>客户参观藏酒洞</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 疑问解答 -->

    <div id="div-yw" class="div-yw">
        <div class="div">
            <div class="box">
                <div class="block row-th">
                    <div class="h2 th1">
                        <h2>您的疑问我来解答</h2>
                    </div>
                </div>
                <div class="part-bg">
                    <div class="part-box">
                        <div class="block row-list">
                            <div class="ul">
                                <ul><li class="col1"><div><em>1</em><span><i>藏酒洞真的存在吗？</i></span><p><i>是的，由于贵州独特的地质条件，溶洞众多，我们有天然的大型藏酒洞穴。</i></p></div></li><li class="col2"><div><em>2</em><span><i>藏酒洞是人工开发的吗？</i></span><p><i>绝对不是，茅台镇有天然的溶洞优势，人工开发的是达不到这种恒温条件的。</i></p></div></li><li class="col3"><div><em>3</em><span><i>藏酒洞存的酒真的那么好喝吗？</i></span><p><i>是的，洞藏过的白酒，具有酒体柔顺、醇和、香味协调等特点，陈酒的独特风味更加突出。</i></p></div></li><li class="col4 col-1"><div><em>4</em><span><i>藏酒洞存的酒对身体有害吗</i></span><p><i>不会，藏酒洞中，微生物种类丰富，对原酒的保存和后天的老熟、生香，具有独特的作用。</i></p></div></li></ul>
                            </div>
                            <div class="b-btn">
                                <a rel="nofollow" href="#call">更多咨询</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 在线留言 -->

    <div id="div-msg" class="div-msg">
        <div class="div">
            <div class="box">
                <div class="block row-title">
                    <div class="h2">
                        <h2>在线留言</h2>
                    </div>
                </div>
                <div class="part-box">
                    <div class="block row-info">
                        <div class="ul">
                            <form name="msg" action="http://www.daqianchao.com/plus/diy.php" enctype="multipart/form-data" method="post">
                                <ul>
                                    <li class="col-name col-input">
                                        <b>名字：</b>
                                        <span><input class="c-input" type="text" name="chenghu" placeholder="请输入您的姓名" /></span>
                                    </li>
                                    <li class="col-qq col-input">
                                        <b>qq/微信：</b>
                                        <span><input class="c-input" type="text" name="qq" placeholder="请输入您的qq/微信" /></span>
                                    </li>
                                    <li class="col-tel col-input">
                                        <b>手机号码：</b>
                                        <span><input class="c-input" type="text" name="dh" placeholder="请输入您的手机号码" /></span>
                                    </li>
                                    <li class="col-content col-text">
                                        <b>留言：</b>
                                        <span><textarea name="neirong" placeholder="请输入留言内容"></textarea></span>
                                    </li>
                                    <li class="col-submit">
                                        <b> </b>
                                        <span><input class="c-ok" type="submit" value="提交" /><input class="c-reset" type="reset" value="重置" /></span>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="block row-list">
                        <div class="h2"><h2>客户留言</h2></div>
                        <div class="ul">
                            <ul>
                                <li>
                                    <div>
                                        <b>113213</b>
                                        <span>
                                        <u>电话：131****9563</u>
                                        <i>时间：2019-05-07 13:38</i>
                                    </span>
                                        <p><i>问题：</i>酒</p>
                                    </div>
                                </li><li>
                                <div>
                                    <b>张玉光</b>
                                    <span>
                                        <u>电话：152****7577</u>
                                        <i>时间：2019-04-25 10:59</i>
                                    </span>
                                    <p><i>问题：</i>代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>王乐</b>
                                    <span>
                                        <u>电话：133****7550</u>
                                        <i>时间：2019-04-18 17:33</i>
                                    </span>
                                    <p><i>问题：</i>请厂家联系我</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>高仲贤</b>
                                    <span>
                                        <u>电话：139****4182</u>
                                        <i>时间：2019-04-18 07:52</i>
                                    </span>
                                    <p><i>问题：</i>请问酱酒散酒吨酒价位，有几个档次。</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>叶先生</b>
                                    <span>
                                        <u>电话：139****4249</u>
                                        <i>时间：2019-03-22 22:41</i>
                                    </span>
                                    <p><i>问题：</i>散酒代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>李军</b>
                                    <span>
                                        <u>电话：182****4771</u>
                                        <i>时间：2019-03-18 15:03</i>
                                    </span>
                                    <p><i>问题：</i>你好</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>吴卫民</b>
                                    <span>
                                        <u>电话：156****4666</u>
                                        <i>时间：2019-03-10 21:29</i>
                                    </span>
                                    <p><i>问题：</i>代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>李宗杰</b>
                                    <span>
                                        <u>电话：152****7678</u>
                                        <i>时间：2019-02-25 20:45</i>
                                    </span>
                                    <p><i>问题：</i>了解一下</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>徐邦全</b>
                                    <span>
                                        <u>电话：133****9726</u>
                                        <i>时间：2019-02-19 23:17</i>
                                    </span>
                                    <p><i>问题：</i>申请加盟代理商，四川成都市高新西区犀浦镇自己的商业门面</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>张银芳</b>
                                    <span>
                                        <u>电话：131****3069</u>
                                        <i>时间：2019-02-19 15:02</i>
                                    </span>
                                    <p><i>问题：</i>想加盟茅台镇散酒</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>王经理</b>
                                    <span>
                                        <u>电话：152****3366</u>
                                        <i>时间：2019-02-18 10:05</i>
                                    </span>
                                    <p><i>问题：</i>你好  我们做运营商数据采集的,可以帮你们采集到同行竞价等推广页面的访客信息,开发匹配精准客户资源,有兴趣了解一下吗? 微信：wangxiancai0420王经理

                                    </p>
                                </div>
                            </li><li>
                                <div>
                                    <b>18739160815</b>
                                    <span>
                                        <u>电话：187****0815</u>
                                        <i>时间：2018-12-18 17:08</i>
                                    </span>
                                    <p><i>问题：</i>怎么代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>13043918115</b>
                                    <span>
                                        <u>电话：130****8115</u>
                                        <i>时间：2018-12-18 17:07</i>
                                    </span>
                                    <p><i>问题：</i>怎么代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>李晓明</b>
                                    <span>
                                        <u>电话：135****1071</u>
                                        <i>时间：2018-12-12 10:52</i>
                                    </span>
                                    <p><i>问题：</i>了解贵厂酒的销售政策。</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>朱先生</b>
                                    <span>
                                        <u>电话：152****7020</u>
                                        <i>时间：2018-11-30 14:07</i>
                                    </span>
                                    <p><i>问题：</i>有意向加盟，请来电联系加盟事宜</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>张廷兰</b>
                                    <span>
                                        <u>电话：139****5298</u>
                                        <i>时间：2018-11-26 22:43</i>
                                    </span>
                                    <p><i>问题：</i>咨询想做酒生意</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>张廷兰</b>
                                    <span>
                                        <u>电话：139****5298</u>
                                        <i>时间：2018-11-26 22:43</i>
                                    </span>
                                    <p><i>问题：</i>咨询想做酒生意</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>朱先生</b>
                                    <span>
                                        <u>电话：152****7020</u>
                                        <i>时间：2018-11-26 09:57</i>
                                    </span>
                                    <p><i>问题：</i>有意向加盟，请来电联系加盟事宜</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>杨建</b>
                                    <span>
                                        <u>电话：134****5665</u>
                                        <i>时间：2018-11-25 21:15</i>
                                    </span>
                                    <p><i>问题：</i>想做代理</p>
                                </div>
                            </li><li>
                                <div>
                                    <b>朱先生</b>
                                    <span>
                                        <u>电话：186****3888</u>
                                        <i>时间：2018-10-15 01:07</i>
                                    </span>
                                    <p><i>问题：</i>我想买二百斤散装白酒</p>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="go2top" class="go2top">
    <div class="div">
        <div class="box">
            <div class="block row-btn">
                <a class="c-go2top" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>

<include file="public/foot" />

<script src="/Public/index/templets/in_dd/js/list_arc_cjd.js" type="text/javascript"></script>

<include file="public/kefu" />

</body>
</html>

